<div>
	<h1>Drawings Gallery</h1>
	<div>
		<% @project_groups.each do |g|%>
		<div class="cf">
			<h3> <%= g[:p_type] %></h3>
			<% g[:projects].each_with_index do |proj, i| %>
			<% col_idx = "col-" + ((i % 3) + 1).to_s %>
			<div class="<%= col_idx %> project">
				<% unless @isAdmin.nil? %>
				<a class="edit-tag" href="/admin/edit/<%= proj.id %>"></a>
				<% end %>
				<a href="<%= project_url(proj.id)  %>"><img  src="<%= proj.project_items.where(is_main_image: true).first.image_url  %>" /></a>
				<a href="<%= project_url(proj.id)  %>"><%= proj.project_title %></a>
			</div>
			<% end %>
		</div>
		<% end %>
		<% unless @isAdmin.nil? %>
		<p>
		Dis is an admin block. This should show at admin/index
		</p>
		<% end %>
	</div>
</div>